h1{ text-align: center; margin-top:150px;}
.link{text-align: center; padding-top:10px;}
.link a{ display:inline-block; background-color: white; color:black;}

.link a:hover{-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;}

.link.twtt a:hover{ background-color:#00B0ED; color:white;}
.link.linked a:hover{background-color:#0077B5; color:white;}
.link.github a:hover{background-color:#F5F5F5; color:black;}